.main{
    background-image: url("https://html.themexriver.com/Saasio/assets/img/res/d1.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.dus{
    /* margin-top: -50px; */
}
.gud{
    margin-top: -40px;
}
.lir{
    text-decoration: none;
    color: white;
}
span{
    background-color: #131a1c;
    color: #c9ab81;
   
}
.custom{
    border-bottom: gray dotted;
}
.hue{
    color: #c9ab81;
}
.cust{
    border-bottom: gray double;
}
.bun{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhyavc2tj6bCX9DkSWV8gdVGPo2YYM6yTFjg&usqp=CAU");
    width: 100%;
    height: 100vh;
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* background-attachment: fixed; */
}